.page.grid {
    margin-top:20px;
}
.example-pic {

}
.npc {
    margin-right: 10px;
}
.vertical.pointing {
    margin-top: 10px !important;
}
.pic-ops {
    margin-left: 30px !important;
}
#stats > div {
    margin-left:13px;
}
#misc textarea {
    max-height:50px;
}
.avatar-image {
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
}