.page.grid {
    margin-top:20px;
}
.example-pic {

}
.npc {
    margin-right: 10px;
}
.vertical.pointing {
    margin-top: 10px !important;
}
.pic-ops {
    margin-left: 30px !important;
}
#stats > div {
    margin-left:13px;
}
#misc textarea {
    max-height:50px;
}
.avatar-image {
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
}
.camp_desc {
    width: 100%;
}
.camp_diary {
    max-height: 200px;
    overflow-y: scroll;
}
.diary_entry {
    max-height: 70px !important;
}
.npc-container {
    max-height: 500px;
    overflow-y: scroll;
}
.insp-checkbox {
    margin-left: 15px;
    margin-top: 6px;
}
#treasure_qty {
    width: 100px;
}
.slick-slider {
    background-color:lightgray;
    padding-top: 10px;
    padding-bottom: 5px;
}
.brand {
    height: 50px;
}
.delete-button {
    margin-top: 7px !important;
}
#add_player {
    margin-top: -3px;
}
#add_npc {
    margin-top: -3px;
}
#class_dropdowns {
    padding: 15px;
}
.char-pic-name {
    position : relative;
    margin-left: 40px !important;
    margin-top: -10px !important;
}
@media only screen and (max-width: 767px) {

}